# Node / JavaScript
node_modules/
.env
.pnp/
.pnp.js

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/patches/ 

# Visual Studio Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
